@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Paytone+One:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Outfit:100,400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Alata:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Gudea:700&display=swap);
@font-face {
  font-family: IconFont;
  font-display: swap;
  src: url(../fonts/IconFont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: ClashDisplayMedium;
  font-display: swap;
  src: url(../fonts/ClashDisplayMedium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
[class*=" icon-"]::before {
  font-family: IconFont;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
.icon-appstore:before {
  content: "a"
}
.icon-wifi:before {
  content: "b"
}
.icon-paw:before {
  content: "c"
}
.icon-medalha-restante:before {
  content: "d"
}
.icon-medalha-direita:before {
  content: "e"
}
.icon-mark-form-email:before {
  content: "f"
}
.icon-login-user:before {
  content: "g"
}
.icon-hart:before {
  content: "h"
}
.icon-ellipse:before {
  content: "i"
}
.icon-baixe-interface:before {
  content: "j"
}
.icon-battery:before {
  content: "k"
}
.icon-cobrar:before {
  content: "l"
}
.icon-baixe-design:before {
  content: "m"
}
.icon-baixe-alertas:before {
  content: "n"
}
.icon-saiba-adestramento:before {
  content: "o"
}
.icon-saiba-adocao:before {
  content: "p"
}
.icon-saiba-alimentacao:before {
  content: "q"
}
.icon-saiba-cuidados:before {
  content: "r"
}
.icon-saiba-curiosidades:before {
  content: "s"
}
.icon-saiba-saude:before {
  content: "t"
}
.icon-social-fc:before {
  content: "u"
}
.icon-social-linkedin:before {
  content: "v"
}
.icon-social-twitter:before {
  content: "w"
}
.icon-star-decore:before {
  content: "x"
}
:root {
  --headerHight: 4.75rem;
  --headerHightMobile: 3.75rem;
  --fontLogoMain: #0D0C22;
  --fontLogoSubMain: #FBBC05;
  --fontDecoreLink: #FFFFFF;
  --fontHero: #0D0C22;
  --fontOnlineMagazine: #000000;
  --fontColorFormLogin: rgba(50, 50, 50, 0.38);
  --fontColorFormSubTitle: #1F1F1F;
  --colorDecore: rgba(251, 188, 5, 0.50);
  --colorBackgroundFooter: #EDE8E8;
  --colorMain: #323232;
  --colorHoverLinkSocial: #d4a004;
  --colorBorderTecket: #464646
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #323232;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
ol li {
  list-style-type: none;
  list-style: none
}
img {
  vertical-align: top
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: inherit;
  font-size: inherit
}
address,
em,
i {
  font-style: normal
}
img {
  vertical-align: top
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}
button {
  color: inherit;
  background-color: transparent
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
textarea {
  resize: vertical
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #fffdfd;
  padding: 20px;
  width: 100%;
  max-width: 388px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__close {
  position: relative;
  right: -90%;
  top: 0
}
.popup__close:not(:last-child) {
  margin-bottom: 20px
}
.popup__text {
  display: flex;
  flex-direction: column
}
.text-block__login {
  display: flex;
  flex-direction: column;
  row-gap: .625rem
}
.text-block__login:not(:last-child) {
  margin-bottom: 2.5rem
}
.text-block__title {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1;
  display: flex;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem
}
.text-block__title::after {
  content: "g";
  font-family: IconFont;
  font-size: 1.5rem
}
.text-block__paragraph {
  font-size: .875rem;
  line-height: 1
}
.text-block__paragraph:not(:last-child) {
  margin-bottom: .7142857143em
}
.text-block__paragraph p:not(:last-child) {
  margin-bottom: .5714285714em
}
.text-block__main-content {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem
}
.main-content__caption {
  font-family: "Paytone One";
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1;
  align-self: center
}
.main-content__caption span {
  color: var(--fontLogoSubMain)
}
.main-content__login-form label {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1
}
.main-content__login-form ::-webkit-input-placeholder {
  color: var(--fontColorFormLogin);
  font-size: .875rem;
  line-height: 1
}
.main-content__login-form :-ms-input-placeholder {
  color: var(--fontColorFormLogin);
  font-size: .875rem;
  line-height: 1
}
.main-content__login-form ::-ms-input-placeholder {
  color: var(--fontColorFormLogin);
  font-size: .875rem;
  line-height: 1
}
.main-content__login-form ::placeholder {
  color: var(--fontColorFormLogin);
  font-size: .875rem;
  line-height: 1
}
.main-content__inner-cell-login-mail {
  display: flex;
  flex-direction: column;
  row-gap: .375rem
}
.main-content__inner-cell-login-mail:not(:last-child) {
  margin-bottom: .75rem
}
.main-content__input-email-login {
  height: 3.375rem;
  max-width: 21.6875rem;
  padding: .625rem 1.0625rem;
  border-radius: 3.375rem;
  border: .0625rem solid var(--fontColorFormSubTitle);
  outline: 0
}
.main-content__input-email-login:focus {
  border: .125rem solid var(--fontLogoSubMain)
}
.main-content__inner-cell-login-senha {
  display: flex;
  flex-direction: column;
  row-gap: .375rem
}
.main-content__inner-cell-login-senha:not(:last-child) {
  margin-bottom: .75rem
}
.main-content__input-senha-login {
  height: 3.375rem;
  width: 347px;
  padding: .625rem 1.0625rem;
  border-radius: 3.375rem;
  border: .0625rem solid var(--fontColorFormSubTitle);
  outline: 0
}
.main-content__input-senha-login:focus {
  border: .125rem solid var(--fontLogoSubMain)
}
.main-content__password {
  font-size: .875rem;
  line-height: 1;
  text-decoration-line: underline;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition: color .25s ease-in-out
}
.main-content__password:not(:last-child) {
  margin-bottom: 1.2857142857em
}
.main-content__btn-enter-login {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .7777777778em .5555555556em;
  transition: all .25S ease-in;
  width: 100%
}
.main-content__social-access {
  display: flex;
  flex-direction: column;
  row-gap: 1.125rem;
  align-items: center;
  justify-content: center
}
.main-content__register {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  color: var(--fontColorFormSubTitle);
  font-family: Outfit;
  line-height: normal
}
.social-access__subtitle {
  color: var(--fontColorFormSubTitle);
  font-family: Outfit;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .375rem;
  -moz-column-gap: .375rem;
  column-gap: .375rem
}
.social-access__subtitle::after,
.social-access__subtitle::before {
  content: "";
  width: 6.25rem;
  height: .0375rem;
  background: #a39797
}
.social-access__icons-items {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.social-access__icon-link {
  border-radius: .375rem;
  width: 3.9375rem;
  height: 3.9375rem;
  background: var(--fontDecoreLink);
  box-shadow: 0 .25rem .25rem 0 var(--fontColorFormLogin);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .3s ease-in-out
}
.register__dont-account {
  font-weight: 100
}
.register__jump-form-log {
  transition: color .25s ease-in-out
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  background-color: var(--fontDecoreLink);
  box-shadow: 0 .125rem .75rem -.25rem var(--fontColorFormLogin);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100
}
.header__menu {
  display: flex;
  -webkit-column-gap: 1.3636363636em;
  -moz-column-gap: 1.3636363636em;
  column-gap: 1.3636363636em;
  align-items: center;
  justify-content: space-between;
  padding: .625rem 0
}
.menu__subitem-wrap {
  display: flex;
  align-items: center;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.menu__logo {
  font-family: "Paytone One";
  line-height: .82;
  color: var(--fontHero);
  flex-shrink: 0
}
.menu__word-logo {
  color: var(--fontLogoSubMain)
}
.menu__body {
  color: #323232;
  font-size: 1.25rem;
  line-height: 1.4;
  flex: 1 1 auto
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: clamp(1rem,-1.295rem + 4.78vw,2.5rem);
  -moz-column-gap: clamp(1rem,-1.295rem + 4.78vw,2.5rem);
  column-gap: clamp(1rem,-1.295rem + 4.78vw,2.5rem);
  align-items: center;
  justify-content: center
}
.menu__link {
  position: relative
}
.menu__link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 105%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: .05em;
  background-color: var(--colorMain);
  transition: width .3s ease-in-out
}
.menu__link-acessar {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: clamp(1rem,.016rem + 1.59vw,1.375rem);
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .9090909091em 2.7272727273em;
  transition: all .25S ease-in
}
.footer__submenu {
  background-color: var(--colorBackgroundFooter);
  padding: 3.4375rem 3.75rem;
  border-radius: 2.8125rem 2.8125rem 0 0
}
.submenu__hard-level {
  display: flex;
  gap: 1.875rem;
  align-items: center;
  justify-content: space-between
}
.submenu__hard-level:not(:last-child) {
  margin-bottom: 4.125em
}
.submenu__middle-level:not(:last-child) {
  margin-bottom: 2.5em
}
.submenu__short-level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem
}
.hard-level__logo {
  font-family: "Paytone One";
  color: var(--fontHero);
  font-size: clamp(3.125rem,3.083rem + .21vw,3.25rem);
  flex-shrink: 0
}
.hard-level__word-logo {
  color: var(--fontLogoSubMain)
}
.hard-level__body {
  flex: 1 1 auto
}
.hard-level__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 5rem;
  -moz-column-gap: 5rem;
  column-gap: 5rem
}
.hard-level__link {
  position: relative
}
.hard-level__link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 110%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: .0625em;
  background-color: var(--colorMain);
  transition: width .3s ease-in-out
}
.hard-level__list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IconFont;
  font-size: 1.875rem;
  -webkit-column-gap: .6em;
  -moz-column-gap: .6em;
  column-gap: .6em
}
.hard-level__icon-link {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  border-radius: 100%;
  transition: all .35s ease-in
}
.middle-level__inner-title:not(:last-child) {
  margin-bottom: 1.35em
}
.middle-level__title-form {
  font-size: 1.25rem;
  line-height: 1.2;
  border-radius: .35em;
  background: var(--fontLogoSubMain);
  display: inline-block;
  padding: 0 .5em
}
.middle-level__box-reg {
  display: flex;
  min-height: 11.5625rem;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-between;
  padding-bottom: 2.5em;
  border-bottom: .0625rem solid var(--colorMain)
}
.middle-level__box-reg:not(:last-child) {
  margin-bottom: 2.5em
}
.box-reg__column-left {
  display: flex;
  flex-wrap: wrap
}
.box-reg__form {
  background: var(--fontDecoreLink);
  border-radius: .7em;
  padding: 3.625rem 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between
}
.box-reg__form:not(:last-child) {
  margin-bottom: 2.5em
}
.form__email-cell {
  flex-grow: 1
}
.form__input-email {
  height: 3.75rem;
  outline: 0;
  border-radius: .875rem;
  border: .0625rem solid var(--colorMain);
  padding: 0 .9375rem
}
.form__input-email:focus {
  outline: .125rem solid var(--fontLogoSubMain)
}
.form__input-email:focus {
  border: none
}
.form__btn-submit {
  background: var(--fontLogoSubMain);
  border-radius: .875em;
  transition: all .3s ease-in
}
.short-level__link-ruls {
  position: relative
}
.short-level__link-ruls::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 110%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: .0625rem;
  background-color: var(--colorMain);
  transition: width .3s ease-in-out
}
body {
  padding-top: calc(var(--headerHight) + 2.5em)
}
.page--option {
  padding-bottom: 2.75rem
}
.hero--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.hero__container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem
}
.hero__main-title {
  color: var(--fontLogoMain);
  font-family: Alata;
  line-height: 1.2
}
.hero__main-title:not(:last-child) {
  margin-bottom: .5507246377em
}
.hero__slogan {
  color: var(--fontLogoSubMain);
  font-family: "Paytone One";
  font-size: clamp(2.625rem,.043rem + 5.38vw,4.313rem);
  line-height: 1.2
}
.hero__paragraph {
  font-size: clamp(1rem,.522rem + 1vw,1.313rem);
  font-weight: 300;
  line-height: 1.2
}
.hero__paragraph:not(:last-child) {
  margin-bottom: 1.8095238095em
}
.hero__paragraph p:not(:last-child) {
  margin-bottom: .4761904762em
}
.hero__acessar-link {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: clamp(1rem,.016rem + 1.59vw,1.375rem);
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .9090909091em 4.5em;
  transition: all .25S ease-in
}
.hero__poster {
  position: relative
}
.poster-box__trump {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.poster-box__inner-bubble {
  position: absolute;
  aspect-ratio: 260/260;
  max-width: 16.25rem;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden
}
.poster-box__inner-bubble--right {
  position: absolute;
  aspect-ratio: 260/260;
  max-width: 16.25rem;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  -webkit-transform: translate(90%,25%);
  transform: translate(90%,25%);
  overflow: hidden
}
.poster-box__bubble {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.poster-box__item {
  font-family: IconFont;
  color: var(--fontLogoSubMain);
  font-size: clamp(1.875rem,-.222rem + 4.37vw,3.25rem)
}
.poster-box__item--circle-lf {
  position: absolute;
  left: -10%;
  top: 28%
}
.poster-box__item--circle-rt {
  position: absolute;
  left: 80%;
  top: 2%
}
.poster-box__item-star {
  font-size: clamp(4.063rem,-.036rem + 8.55vw,6.75rem);
  position: absolute;
  left: -10%;
  top: 40%;
  z-index: -1
}
.poster-box__item-hart {
  font-size: clamp(1.188rem,-.051rem + 2.58vw,2rem);
  color: var(--fontDecoreLink);
  position: absolute;
  top: 32%;
  left: 85%;
  width: clamp(2.125rem,-.543rem + 5.57vw,3.875rem);
  height: clamp(2.125rem,-.543rem + 5.57vw,3.875rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg)
}
.poster-box__item-hart::before {
  content: "";
  position: absolute;
  left: 0;
  top: -.125rem;
  width: 100%;
  height: 100%;
  background: var(--fontLogoSubMain);
  border-radius: 50%;
  z-index: -1
}
.council--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.council__title-section {
  color: #323232;
  text-align: center;
  font-family: Gudea;
  font-size: clamp(1.625rem,1.414rem + 1.05vw,2.25rem);
  line-height: 1.22
}
.council__title-section:not(:last-child) {
  margin-bottom: 1.25em
}
.council__set-cards {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between
}
.card__cell {
  background: var(--fontDecoreLink);
  border-radius: .5rem;
  box-shadow: 0 .5rem .4375rem -.125rem var(--fontColorFormLogin);
  display: flex;
  min-height: 14rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1.5rem clamp(1.25rem,-.381rem + 3vw,2rem);
  flex-direction: column
}
.card__show-more {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: clamp(1rem,.016rem + 1.59vw,1.375rem);
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .9090909091em 2.7272727273em;
  transition: all .25S ease-in;
  margin: 0 auto
}
.card__logo {
  font-family: IconFont;
  font-size: 2.25rem;
  text-align: center;
  margin: 0 auto;
  width: 3.125rem;
  height: 3.125rem;
  background: var(--colorDecore);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.125rem .3125rem .625rem .3125rem
}
.card__logo:not(:last-child) {
  margin-bottom: .4444444444em
}
.card__caption {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.28
}
.card__caption:not(:last-child) {
  margin-bottom: .2857142857em
}
.card__paragraph {
  font-size: .875rem;
  line-height: 1.42
}
.card__paragraph:not(:last-child) {
  margin-bottom: .8571428571em
}
.card__paragraph p:not(:last-child) {
  margin-bottom: .5714285714em
}
.connection--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.connection__block-wrap {
  border-radius: 8px;
  background: #ede8e8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  position: relative;
  width: 100%
}
.connection__text-chapter {
  padding: clamp(.938rem,.474rem + 2.32vw,2.313rem) clamp(.625rem,-.428rem + 5.26vw,3.75rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.25rem
}
.connection__title {
  font-size: clamp(1.625rem,.287rem + 2vw,1.875rem);
  font-weight: 700;
  line-height: 1.2
}
.connection__pargraph {
  font-size: clamp(1rem,-.338rem + 2vw,1.25rem);
  font-weight: 400;
  line-height: 1.2
}
.connection__link-agore {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: clamp(1rem,.016rem + 1.59vw,1.375rem);
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .9090909091em 1.5909090909em;
  transition: all .25S ease-in
}
.connection__wrap-pic {
  display: block;
  overflow: hidden;
  aspect-ratio: 544/506;
  width: 100%
}
.connection__cat-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain
}
.app--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.app__container {
  display: flex;
  width: 100%;
  position: relative;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  align-items: center;
  justify-content: space-between
}
.app__inner {
  position: relative
}
.app__body-tel {
  display: block;
  aspect-ratio: 346/713;
  max-width: 346px;
  width: 100%;
  overflow: hidden;
  position: relative
}
.app__iphpone-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.app__inner-bubble {
  position: absolute;
  aspect-ratio: 260/260;
  max-width: 16.25rem;
  width: 100%;
  flex: 1 1 16.25rem;
  z-index: -1;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden
}
.app__bubble {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%
}
.app__inner-bubble--left {
  -webkit-transform: rotate(-35deg) translate(-59%,85%);
  transform: rotate(-35deg) translate(-59%,85%)
}
.app__inner-bubble--right {
  -webkit-transform: translate(85%,45%);
  transform: translate(85%,45%)
}
.app__content {
  display: flex;
  width: 100%;
  flex-direction: column
}
.app__title {
  font-size: clamp(2.25rem,.619rem + 3vw,3rem);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase
}
.app__title:not(:last-child) {
  margin-bottom: .6875em
}
.content__list:not(:last-child) {
  margin-bottom: 1.125rem
}
.content__item {
  position: relative
}
.content__item:not(:last-child) {
  margin-bottom: .9375rem
}
.content__item:nth-child(1) .content__supcaption::before {
  content: "n";
  font-family: IconFont;
  line-height: 1.7
}
.content__item:nth-child(2) .content__supcaption::before {
  content: "j";
  font-family: IconFont;
  line-height: 1.7
}
.content__item:nth-child(3) .content__supcaption::before {
  content: "m";
  font-family: IconFont;
  line-height: 1.7
}
.content__supcaption {
  font-size: clamp(1.125rem,.853rem + .5vw,1.25rem);
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  align-items: center
}
.content__supcaption:not(:last-child) {
  margin-bottom: .5em
}
.content__paragraph {
  font-size: clamp(1rem,.728rem + .5vw,1.125rem);
  line-height: 1.56
}
.content__paragraph:not(:last-child) {
  margin-bottom: .5555555556em
}
.content__paragraph p:not(:last-child) {
  margin-bottom: .4444444444em
}
.content__link-download {
  color: var(--fontOnlineMagazine);
  font-family: ClashDisplayMedium;
  font-size: clamp(1rem,.718rem + .51vw,1.125rem);
  line-height: 1.55;
  text-transform: capitalize;
  padding: clamp(.5rem,-.346rem + 1.54vw,.875rem) clamp(.875rem,-.253rem + 2.05vw,1.375rem);
  background: var(--fontDecoreLink);
  border-radius: .5rem;
  position: relative;
  box-shadow: var(--fontColorFormLogin) 0 .25rem .5rem,var(--fontColorFormLogin) .25rem .375rem .8125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  transition: all .3s ease-in
}
.content__link-download::after {
  content: "a";
  font-family: IconFont;
  font-size: clamp(1.5rem,.936rem + 1.03vw,1.75rem);
  text-transform: none
}
.info--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.info__box-title {
  text-align: center;
  max-width: 57.0625rem;
  margin: 0 auto;
  font-size: clamp(1.625rem,1.414rem + 1.05vw,2.25rem);
  font-weight: 700;
  line-height: 1.33
}
.info__box-title:not(:last-child) {
  margin-bottom: 1.1666666667em
}
.info__caption {
  color: var(--fontLogoMain);
  font-family: "Paytone One";
  font-size: 2.25rem;
  line-height: 1.33
}
.info__subcaption {
  color: var(--fontLogoSubMain);
  font-family: "Paytone One";
  font-size: 2.25rem;
  line-height: 1.33
}
.info__holder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center
}
.ticket__box-cards {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1.25rem,.829rem + 2.11vw,2.5rem);
  height: 100%;
  width: 100%
}
.ticket__box-cards:not(:last-child) {
  margin-bottom: 1.25rem
}
.ticket__inner {
  flex: 0 1 calc((100% - 2.5rem * 2)/ 3);
  border-radius: 2.8125rem;
  border: .0625rem solid var(--colorMain);
  background: var(--fontDecoreLink);
  box-shadow: 0 .3125rem 0 0 var(--colorBorderTecket);
  padding: .9375rem clamp(1.25rem,.934rem + 1.58vw,2.188rem)
}
.ticket__block-more span {
  color: var(--fontDecoreLink);
  text-align: center;
  font-size: clamp(1rem,.016rem + 1.59vw,1.375rem);
  font-weight: 700;
  line-height: 1.27;
  border-radius: 2.6363636364em;
  background: var(--fontLogoSubMain);
  padding: .9090909091em 2.7272727273em;
  transition: all .25S ease-in
}
.ticket__desk {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  padding-bottom: clamp(1.375rem,1.249rem + .63vw,1.75rem);
  border-bottom: .0625rem solid var(--colorMain)
}
.ticket__desk:not(:last-child) {
  margin-bottom: clamp(1.375rem,1.249rem + .63vw,1.75rem)
}
.ticket__pic-envelope {
  align-self: flex-start;
  clip-path: polygon(49.883% 85.627%,49.883% 85.627%,38.918% 93.85%,28.636% 98.481%,19.399% 99.884%,11.567% 98.422%,5.505% 94.459%,1.574% 88.361%,.136% 80.49%,1.554% 71.21%,6.189% 60.887%,14.405% 49.883%,14.405% 49.883%,6.161% 38.901%,1.516% 28.601%,.104% 19.349%,1.558% 11.508%,5.512% 5.444%,11.598% 1.521%,19.449% .104%,28.701% 1.558%,38.984% 6.247%,49.934% 14.537%,49.934% 14.537%,60.836% 6.312%,71.091% 1.677%,80.329% .267%,88.18% 1.718%,94.276% 5.665%,98.245% 11.743%,99.718% 19.589%,98.325% 28.838%,93.696% 39.126%,85.462% 50.087%,85.462% 50.087%,94.65% 63.937%,99.152% 75.586%,99.664% 85%,96.879% 92.149%,91.494% 96.998%,84.203% 99.516%,75.701% 99.67%,66.684% 97.428%,57.846% 92.758%,49.883% 85.627%);
  overflow: hidden;
  flex: 0 1 6.4375rem;
  aspect-ratio: 103/103;
  display: block;
  position: relative
}
.ticket__pic-envelope::before {
  content: "";
  background-color: var(--fontLogoSubMain);
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: .22
}
.ticket__decore-img {
  position: relative
}
.ticket__decore-img svg {
  position: absolute;
  left: .5625rem;
  top: .5625rem;
  width: 100%;
  height: 100%
}
.ticket__avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ticket__info {
  align-self: self-end;
  flex-grow: 1
}
.ticket__subtitle {
  font-size: clamp(1rem,.958rem + .21vw,1.125rem);
  font-family: "Space Grotesk";
  font-weight: 500;
  line-height: 1.2
}
.ticket__subtitle:not(:last-child) {
  margin-bottom: .2222222222em
}
.ticket__role {
  font-size: clamp(.75rem,.708rem + .21vw,.875rem);
  font-family: "Space Grotesk";
  line-height: 1.2
}
.ticket__role:not(:last-child) {
  margin-bottom: .2857142857em
}
.ticket__label {
  flex-shrink: 0;
  align-self: self-start;
  font-family: IconFont;
  font-size: clamp(1rem,.916rem + .42vw,1.25rem);
  color: var(--fontDecoreLink);
  width: clamp(1.75rem,1.624rem + .63vw,2.125rem);
  height: clamp(1.75rem,1.624rem + .63vw,2.125rem);
  background: var(--fontLogoSubMain);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}
.ticket__paragraph {
  font-size: clamp(.938rem,.874rem + .32vw,1.125rem);
  line-height: 1.2
}
.ticket__paragraph:not(:last-child) {
  margin-bottom: .5555555556em
}
.ticket__paragraph p:not(:last-child) {
  margin-bottom: .4444444444em
}
.update--setup:not(:last-child) {
  margin-bottom: 2.75rem
}
.update__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.subs__content-desk {
  flex: 0 1 55%;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem,-.662rem + 3.98vw,2.5rem)
}
.subs__wrap-img {
  overflow: hidden;
  aspect-ratio: 511/543;
  display: block;
  max-width: 31.9375rem
}
.subs__pic {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.content-desk__text-box {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1.25rem,-.662rem + 3.98vw,2.5rem);
  font-size: 1.125rem;
  line-height: 1.56
}
.content-desk__title {
  font-weight: 700;
  line-height: 1.09
}
.content-desk__paragraph {
  font-size: clamp(1rem,.809rem + .4vw,1.125rem);
  line-height: 1.55
}
.content-desk__list {
  counter-reset: item
}
.content-desk__item {
  line-height: 1.55;
  position: relative;
  display: flex;
  align-items: center;
  -webkit-column-gap: clamp(.625rem,.179rem + 2.23vw,1.25rem);
  -moz-column-gap: clamp(.625rem,.179rem + 2.23vw,1.25rem);
  column-gap: clamp(.625rem,.179rem + 2.23vw,1.25rem)
}
.content-desk__item:not(:last-child) {
  margin-bottom: 1em
}
.content-desk__item::before {
  font-weight: 600;
  line-height: 1.7;
  text-align: center;
  content: "0" counter(item);
  counter-increment: item;
  border-radius: .625rem;
  background: var(--colorDecore)
}
.insire-form__wrap-item {
  position: relative
}
.insire-form__mail-cell {
  outline: 0;
  height: clamp(2.813rem,1.856rem + 1.99vw,3.438rem);
  border: .0625rem solid var(--colorMain);
  border-radius: 1.625rem;
  padding: 0 4rem 0 1.25rem
}
.insire-form__mail-cell:focus {
  border: .0625rem solid var(--fontLogoSubMain)
}
.insire-form__btn-send {
  font-family: IconFont;
  font-size: clamp(1.25rem,.868rem + .8vw,1.5rem);
  text-align: center;
  color: var(--fontDecoreLink);
  width: clamp(2.375rem,1.419rem + 1.99vw,3rem);
  height: clamp(2.375rem,1.419rem + 1.99vw,3rem);
  background: var(--fontLogoSubMain);
  border-radius: 50%;
  position: absolute;
  right: .25rem;
  top: .1875rem;
  transition: all .3s ease-in
}
@media (min-width:47.5em) {
  .council__title-section {
    max-width: 36.875rem;
    margin: 0 auto
  }
  .card__caption {
    flex-grow: 1
  }
}
@media (min-width:54.375em) {
  .app__inner {
    flex: 0 1 58%
  }
  .app__body-tel {
    padding-left: 5%;
    -webkit-transform: translate(15%,0);
    transform: translate(15%,0)
  }
  .app__content {
    flex: 0 1 42%;
    max-width: 40rem
  }
}
@media (min-width:61.9375em) {
  .menu__logo {
    font-size: clamp(2.875rem,-.233rem + 5.02vw,3.75rem)
  }
}
@media (min-width:65.6875em) {
  .footer__submenu {
    padding: 3.4375rem 3.75rem
  }
  .box-reg__column-left {
    flex-direction: column;
    row-gap: 3.125rem
  }
  .box-reg__form {
    flex: 0 1 43.5em
  }
}
@media (min-width:66.875em) {
  .connection--setup {
    padding: clamp(3.75rem,-1.266rem + 7.5vw,4.688rem) 0 clamp(2rem,-33.109rem + 52.5vw,8.563rem) 0
  }
  .connection__text-chapter {
    flex: 0 1 60%
  }
  .connection__pargraph {
    max-width: 34.8125rem
  }
  .connection__wrap-pic {
    position: absolute;
    right: 0;
    top: -25%;
    max-height: 506px;
    padding-left: 57%;
    pointer-events: none
  }
}
@media (min-width:72.5em) {
  .council__set-cards {
    row-gap: 4.75rem
  }
  .card__cell {
    flex: 0 1 calc((100% - 7.625rem * 2)/ 3);
    -webkit-column-gap: 7.625rem;
    -moz-column-gap: 7.625rem;
    column-gap: 7.625rem
  }
}
@media (min-width:48em) {
  .form__btn-submit {
    font-size: 1.25rem;
    padding: 1.25rem 2.1875rem
  }
  .hero__text-box {
    max-width: 45.125rem
  }
  .hero__main-title {
    font-size: clamp(2.625rem,.043rem + 5.38vw,4.313rem)
  }
  .hero__paragraph {
    max-width: 31.125rem
  }
  .poster-box__inner-pic {
    display: block;
    aspect-ratio: 497/549;
    width: 100%;
    overflow: hidden
  }
  .poster-box__animals-mobile {
    display: none
  }
  .subs__content-desk {
    padding-left: 7%
  }
  .subs__wrap-img {
    flex: 0 1 45%
  }
  .content-desk__title {
    font-size: clamp(2.125rem,1.169rem + 1.99vw,2.75rem)
  }
  .content-desk__item {
    font-size: clamp(1rem,.809rem + .4vw,1.125rem)
  }
  .content-desk__item::before {
    font-size: clamp(1rem,.809rem + .4vw,1.125rem)
  }
  .content-desk__item::before {
    width: clamp(2rem,1.713rem + .6vw,2.188rem);
    height: clamp(1.75rem,1.368rem + .8vw,2rem)
  }
}
@media (min-width:55em) {
  .box-reg__form {
    align-items: center
  }
}
@media (min-width:62em) {
  .header {
    min-height: var(--headerHight)
  }
}
@media (max-width:57em) {
  .submenu__short-level {
    justify-content: center;
    flex-direction: column;
    row-gap: 1.25rem;
    text-align: center
  }
}
@media (max-width:55em) {
  .poster-box__inner-bubble {
    aspect-ratio: 172/172;
    max-width: 10.75rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 172/172;
    max-width: 10.75rem
  }
}
@media (max-width:48em) {
  .poster-box__inner-bubble {
    aspect-ratio: 150/150;
    max-width: 9.375rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 150/150;
    max-width: 9.375rem
  }
}
@media (max-width:79.375em) {
  .poster-box__inner-bubble {
    aspect-ratio: 250/250;
    max-width: 15.625rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 256/256;
    max-width: 16rem
  }
}
@media (max-width:78.125em) {
  .poster-box__inner-bubble--right {
    aspect-ratio: 252/252;
    max-width: 15.75rem
  }
}
@media (max-width:76.875em) {
  .poster-box__inner-bubble--right {
    aspect-ratio: 248/248;
    max-width: 15.5rem
  }
  .ticket__inner {
    min-height: 17.5rem;
    flex: 0 1 calc((100% - 2.5rem * 1)/ 2)
  }
  .ticket__inner:last-of-type:nth-child(odd) {
    flex: 0 1 100%
  }
}
@media (max-width:75.625em) {
  .poster-box__inner-bubble {
    aspect-ratio: 244/244;
    max-width: 15.25rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 244/244;
    max-width: 15.25rem
  }
}
@media (max-width:73.75em) {
  .poster-box__inner-bubble {
    aspect-ratio: 238/238;
    max-width: 14.875rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 238/238;
    max-width: 14.875rem
  }
}
@media (max-width:72.5em) {
  .poster-box__inner-bubble {
    aspect-ratio: 233/233;
    max-width: 14.5625rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 233/233;
    max-width: 14.5625rem
  }
}
@media (max-width:72.49875em) {
  .council__set-cards {
    row-gap: 3.75rem
  }
  .card__cell {
    flex: 0 1 calc((100% - 5rem * 2)/ 3);
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
}
@media (max-width:71.25em) {
  .poster-box__inner-bubble {
    aspect-ratio: 228/228;
    max-width: 14.25rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 228/228;
    max-width: 14.25rem
  }
}
@media (max-width:70.3125em) {
  .poster-box__inner-bubble {
    aspect-ratio: 224/224;
    max-width: 14rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 224/224;
    max-width: 14rem
  }
}
@media (max-width:68.75em) {
  .poster-box__inner-bubble {
    aspect-ratio: 219/219;
    max-width: 13.6875rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 219/219;
    max-width: 13.6875rem
  }
}
@media (max-width:67.5em) {
  .poster-box__inner-bubble {
    aspect-ratio: 214/214;
    max-width: 13.375rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 214/214;
    max-width: 13.375rem
  }
}
@media (max-width:66.24875em) {
  .council__set-cards {
    row-gap: 3.125rem
  }
  .card__cell {
    flex: 0 1 calc((100% - 3.75rem * 2)/ 3);
    -webkit-column-gap: 3.75rem;
    -moz-column-gap: 3.75rem;
    column-gap: 3.75rem
  }
}
@media (max-width:66.875em) {
  .connection__block-wrap {
    flex-direction: column
  }
  .app__body-tel {
    aspect-ratio: 446/713
  }
}
@media (max-width:66.87375em) {
  .connection__text-chapter {
    width: 100%;
    align-items: center
  }
  .connection__title {
    text-align: center
  }
  .connection__wrap-pic {
    max-width: 444px
  }
}
@media (max-width:65.68625em) {
  .footer__submenu {
    padding: clamp(1.25rem,.292rem + 4.79vw,3.438rem) clamp(1.25rem,.156rem + 5.47vw,3.75rem)
  }
  .middle-level__box-reg {
    flex-direction: column
  }
  .box-reg__column-left {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    justify-content: space-between
  }
}
@media (max-width:65.625em) {
  .poster-box__inner-bubble {
    aspect-ratio: 208/208;
    max-width: 13rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 208/208;
    max-width: 13rem
  }
}
@media (max-width:63.75em) {
  .poster-box__inner-bubble {
    aspect-ratio: 202/202;
    max-width: 12.625rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 202/202;
    max-width: 12.625rem
  }
}
@media (max-width:62.5em) {
  .poster-box__inner-bubble {
    aspect-ratio: 198/198;
    max-width: 12.375rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 198/198;
    max-width: 12.375rem
  }
}
@media (max-width:61.9375em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 60%;
    left: -100%;
    top: var(--headerHightMobile);
    overflow: auto;
    padding: 3.125rem .9375rem .9375rem .9375rem;
    background: var(--colorMain);
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .menu__link {
    color: var(--fontDecoreLink);
    font-size: 1.625rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: var(--fontLogoSubMain)
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header {
    min-height: var(--headerHightMobile)
  }
  .menu__logo {
    font-size: 46px
  }
  .menu__link::before {
    background-color: var(--fontDecoreLink)
  }
  .menu__link-acessar {
    font-size: 1.375rem
  }
}
@media (max-width:61.9375em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:61.9375em) and (any-hover:hover) {
  .menu__link-acessar {
    cursor: pointer
  }
  .menu__link-acessar:hover {
    background: var(--fontDecoreLink);
    color: var(--fontLogoSubMain)
  }
}
@media (max-width:61.99875em) {
  .submenu__hard-level {
    flex-direction: column
  }
}
@media (max-width:60.625em) {
  .poster-box__inner-bubble {
    aspect-ratio: 192/192;
    max-width: 12rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 192/192;
    max-width: 12rem
  }
}
@media (max-width:59.375em) {
  .poster-box__inner-bubble {
    aspect-ratio: 188/188;
    max-width: 11.75rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 188/188;
    max-width: 11.75rem
  }
}
@media (max-width:59.99875em) {
  .council__set-cards {
    row-gap: 2.5rem
  }
  .card__cell {
    flex: 0 1 calc((100% - 1.875rem * 2)/ 3);
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (max-width:57.5em) {
  .poster-box__inner-bubble {
    aspect-ratio: 184/184;
    max-width: 11.5rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 184/184;
    max-width: 11.5rem
  }
}
@media (max-width:56.25em) {
  .poster-box__inner-bubble {
    aspect-ratio: 178/178;
    max-width: 11.125rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 178/178;
    max-width: 11.125rem
  }
}
@media (max-width:54.99875em) {
  .box-reg__form {
    flex-direction: column
  }
}
@media (max-width:54.37375em) {
  .council__set-cards {
    row-gap: 1.875rem
  }
  .card__cell {
    flex: 0 1 calc((100% - 1.875rem * 1)/ 2);
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .app__container {
    flex-direction: column
  }
  .app__body-tel {
    aspect-ratio: 546/713;
    margin: 0 auto
  }
  .app__body-tel:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .app__inner-bubble {
    display: none
  }
  .app__title {
    text-align: center;
    font-size: clamp(1.75rem,1.459rem + 1.45vw,2.25rem)
  }
}
@media (max-width:53.125em) {
  .poster-box__inner-bubble {
    aspect-ratio: 168/168;
    max-width: 10.5rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 168/168;
    max-width: 10.5rem
  }
}
@media (max-width:52.75em) {
  .submenu__hard-level:not(:last-child) {
    margin-bottom: 2.8125em
  }
}
@media (max-width:51.875em) {
  .poster-box__inner-bubble {
    aspect-ratio: 164/164;
    max-width: 10.25rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 164/164;
    max-width: 10.25rem
  }
}
@media (max-width:51.25em) {
  .ticket__inner {
    flex: 0 1 100%
  }
}
@media (max-width:50.625em) {
  .poster-box__inner-bubble {
    aspect-ratio: 158/158;
    max-width: 9.875rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 158/158;
    max-width: 9.875rem
  }
}
@media (max-width:49.375em) {
  .poster-box__inner-bubble {
    aspect-ratio: 154/154;
    max-width: 9.625rem
  }
  .poster-box__inner-bubble--right {
    aspect-ratio: 154/154;
    max-width: 9.625rem
  }
}
@media (max-width:47.99875em) {
  .middle-level__inner-title {
    text-align: center
  }
  .box-reg__column-left {
    flex-direction: column;
    align-items: center;
    row-gap: 1.5625rem
  }
  .box-reg__form {
    padding: clamp(.938rem,-.982rem + 9.6vw,3.625rem) clamp(.625rem,-.714rem + 6.7vw,2.5rem)
  }
  .form__input-email {
    height: clamp(2.5rem,1.607rem + 4.46vw,3.75rem)
  }
  .form__btn-submit {
    font-size: clamp(1rem,.821rem + .89vw,1.25rem);
    padding: clamp(.875rem,.607rem + 1.34vw,1.25rem) clamp(.625rem,-.491rem + 5.58vw,2.188rem)
  }
  .hero__container {
    grid-template-columns: 1fr;
    padding: 0
  }
  .hero__main-title {
    text-align: center;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: clamp(2.25rem,1.982rem + 1.34vw,2.625rem)
  }
  .hero__slogan {
    font-size: clamp(2.25rem,1.982rem + 1.34vw,2.625rem)
  }
  .hero__paragraph {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px
  }
  .hero__wrap-acessar {
    text-align: center;
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px
  }
  .poster-box__inner-pic {
    max-width: 100vw;
    max-width: 100vw;
    padding: 0
  }
  .poster-box__inner-pic:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .poster-box__trump {
    display: none
  }
  .poster-box__animals-mobile {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain
  }
  .poster-box__decore-item {
    display: none
  }
  .update__container {
    flex-direction: column
  }
  .subs__wrap-img {
    align-self: center
  }
  .content-desk__title {
    font-size: clamp(1.75rem,1.482rem + 1.34vw,2.125rem)
  }
  .content-desk__title {
    text-align: center
  }
  .content-desk__item {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
  .content-desk__item::before {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
  .content-desk__item::before {
    width: clamp(1.875rem,1.786rem + .45vw,2rem);
    height: clamp(1.625rem,1.536rem + .45vw,1.75rem)
  }
  .insire-form__mail-cell::-webkit-input-placeholder {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
  .insire-form__mail-cell:-ms-input-placeholder {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
  .insire-form__mail-cell::-ms-input-placeholder {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
  .insire-form__mail-cell::placeholder {
    font-size: clamp(.875rem,.786rem + .45vw,1rem)
  }
}
@media (max-width:47.49875em) {
  .council__set-cards {
    row-gap: 1.25rem
  }
}
@media (max-width:47.5em) {
  .card__cell {
    flex: 0 1 100%
  }
}
@media (max-width:40.25em) {
  .hard-level__list {
    flex-direction: column;
    row-gap: 1.875rem
  }
}
@media (max-width:28.125em) {
  .content__jump {
    margin: 0 auto
  }
}
@media (max-width:21.875em) {
  .menu__link-acessar {
    width: 100%
  }
}
@media (any-hover:hover) {
  .main-content__password {
    cursor: pointer
  }
  .main-content__password:hover {
    color: var(--colorHoverLinkSocial)
  }
  .main-content__btn-enter-login {
    cursor: pointer
  }
  .main-content__btn-enter-login:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .social-access__icon-link {
    cursor: pointer
  }
  .social-access__icon-link:hover {
    background: var(--colorBorderTecket)
  }
  .register__jump-form-log {
    cursor: pointer
  }
  .register__jump-form-log:hover {
    color: var(--colorHoverLinkSocial)
  }
  .menu__item {
    cursor: pointer
  }
  .menu__item:hover .menu__link::before {
    width: 100%
  }
  .menu__link-acessar {
    cursor: pointer
  }
  .menu__link-acessar:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .hard-level__item {
    cursor: pointer
  }
  .hard-level__item:hover .hard-level__link::before {
    width: 0
  }
  .hard-level__icon-link {
    cursor: pointer
  }
  .hard-level__icon-link:hover {
    color: var(--colorHoverLinkSocial)
  }
  .hard-level__icon-link:hover::before {
    content: "";
    position: absolute;
    left: 2px;
    top: 4px;
    width: 1.5625rem;
    height: 1.5625rem;
    border-radius: 50%;
    background: var(--colorMain);
    z-index: -1
  }
  .form__btn-submit {
    cursor: pointer
  }
  .form__btn-submit:hover {
    background: var(--colorMain);
    color: var(--fontDecoreLink)
  }
  .short-level__link-ruls {
    cursor: pointer
  }
  .short-level__link-ruls:hover::before {
    width: 0
  }
  .hero__acessar-link {
    cursor: pointer
  }
  .hero__acessar-link:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .card__show-more {
    cursor: pointer
  }
  .card__show-more:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .connection__link-agore {
    cursor: pointer
  }
  .connection__link-agore:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .content__jump {
    cursor: pointer
  }
  .content__jump:hover .content__link-download {
    background: var(--fontLogoSubMain)
  }
  .ticket__block-more span {
    cursor: pointer
  }
  .ticket__block-more span:hover {
    background: var(--colorMain);
    color: var(--fontLogoSubMain)
  }
  .insire-form__btn-send {
    cursor: pointer
  }
  .insire-form__btn-send:hover {
    color: var(--fontLogoSubMain);
    background: var(--colorMain)
  }
}